<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Job Logs</title>
  <link rel="stylesheet" href="../../css/foundation.min.css">
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <h1><a href="/">mistry</a></h1>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid">
      <div class="cell">
        <h4>Job: {{.ID}}</h4>
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-section">
            <div class="card-divider">
              <h4> Details </h4>
            </div>
            <p id="js-job-info"></p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-section">
            <div class="card-divider">
              <h4> Logs </h4>
            </div>
            <p id="js-job-log"></p>
          </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const jobLog = document.getElementById('js-job-log');
    const logs = {{.BuildInfo.Log}};
    const jobInfo = document.getElementById('js-job-info');
    const state = {{.State}};

    jobInfo.innerHTML += "Project: ".big() + {{.Project}} + "<br>";
    jobInfo.innerHTML += "Group: ".big() + {{.BuildInfo.Group}} + "<br>";
    jobInfo.innerHTML += "State: ".big() + {{.State}} + "<br>";
    jobInfo.innerHTML += "Started At: ".big() + new Date({{.BuildInfo.StartedAt}}) + "<br>";
    jobInfo.innerHTML += "Duration: ".big() + {{.BuildInfo.Duration}} + "<br>";
    jobInfo.innerHTML += "Path: ".big() + {{.BuildInfo.Path}} + "<br>";
    jobInfo.innerHTML += "Params: ".big() + JSON.stringify({{.BuildInfo.Params}}) + "<br>";
    jobInfo.innerHTML += "Cached: ".big() + {{.BuildInfo.Cached}} + "<br>";
    jobInfo.innerHTML += "Coalesced: ".big() + {{.BuildInfo.Coalesced}} + "<br>";
    jobInfo.innerHTML += "Incremental: ".big() + {{.BuildInfo.Incremental}} + "<br>";
    jobInfo.innerHTML += "ExitCode: ".big() + {{.BuildInfo.ExitCode}} + "<br>";
    jobInfo.innerHTML += "Transport method: ".big() + {{.BuildInfo.TransportMethod}} + "<br>";
    jobInfo.innerHTML += "Error: ".big() + {{.BuildInfo.ErrBuild}} + "<br>";

    jobLog.innerHTML += logs.split('\n').join('<br>')

    if (state == "pending") {
      let logsFragment = document.createDocumentFragment();
      setInterval(checkState, 3000);
      setInterval(updateJobLogs, 500);

      function checkState() {
        let jHeaders = new Headers();
        jHeaders.append('Content-Type', 'application/json');
        const jobRequest = new Request('/job/{{.Project}}/{{.ID}}', {headers: jHeaders});
        fetch(jobRequest)
          .then(function(response) { return response.json(); })
          .then(function(data) {
            if (data["State"] == "ready"){
              location.reload();
            }
          })
      }

      function updateJobLogs() {
        jobLog.appendChild(logsFragment);
      }

      const source = new EventSource('/log/{{.Project}}/{{.ID}}');
      source.onmessage = function(e) {
        let logLine = document.createElement("div");
        logLine.innerHTML = e.data + "</br>";
        logsFragment.appendChild(logLine);
      };

      source.onerror = function(e) {
        document.body.innerHTML += "Web tail failed.";
        source.close();
      };
    }
  </script>
</body>
</html>
