Source: mistry
Section: devel
Priority: optional
Maintainer: Christos Trochalakis <ctrochalakis@debian.org>
Build-Depends: ca-certificates,
               debhelper (>= 11),
               dh-exec,
               dh-golang,
               git,
               go-dep,
               golang-any,
               golang-statik (>= 0.1.1~),
Standards-Version: 4.1.4
Vcs-Git: https://github.com/skroutz/mistry
Vcs-Browser: https://github.com/skroutz/mistry
Homepage: https://github.com/skroutz/mistry
XS-Go-Import-Path: github.com/skroutz/mistry

Package: mistry-server
Architecture: any
Depends: adduser,
         docker-ce | docker.io,
         ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using},
Description: mistry build server
 mistry executes user-provided jobs inside pre-defined, isolated environments
 and makes the results available for later consumption.
 .
 mistry enables fast workflows by employing caching techniques and incremental
 builds due to its copy-on-write snapshotting features.
 .
 Features include:
 .
  o running arbitrary commands inside isolated environments
  o build caching & incremental building
  o a simple JSON API for interacting with the server (scheduling jobs etc.)
  o a web view for inspecting the progress of builds
  o efficient use of disk space due to copy-on-write semantics

Package: mistry-client
Architecture: any
Depends: adduser,
         ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using},
Description: command-line client for mistry server
