[Unit]
Description=mistry build server
After=network.target
Documentation=https://github.com/skroutz/mistry
Wants=docker.service
After=docker.service

[Service]
Type=simple
User=mistry
Group=mistry
Environment=MISTRY_ADDR=0.0.0.0:8462
Environment=MISTRY_CONFIG=/etc/mistry/config.json
Environment=MISTRY_FS=plain
EnvironmentFile=-/etc/default/mistry
ExecStart=/usr/bin/mistryd --addr=${MISTRY_ADDR} --config=${MISTRY_CFG} --filesystem=${MISTRY_FS}
Restart=on-failure

[Install]
WantedBy=multi-user.target
