[Unit]
Description=mistry build server
After=network.target
Documentation=https://github.com/skroutz/mistry
Wants=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/mistryd --config /etc/mistry/config.json
Restart=on-failure
User=mistry
Group=mistry

[Install]
WantedBy=multi-user.target
